$colors: (
	common: (
		"white": #fff,
		"black": #000,
		"black2": #28292b,
		"black3": #1f242c,
		"black4": #161718,
		"blue": #2785ff,
		"heading": #353739,
		"text": #777777,
		"border": #eaebee,
		"border2": #f1f1f1,
		"placeholder": #bfbfbf,
		"placeholder2": #ccd1d9,
		"gray": #252627,
		"gray-1": #b5b5b5,
		"gray-2": #c5c5c5,
		"gray-3": #bbbbbb,
		"gray-4": #b7b7b7,
		"gray-5": #f8f8f8,
		"gray-6": #979aa0,
		"yellow": #FF9C00,
		"color1": #f1f1f1,
		"color2": #94989d,
		"color3": #ffa8b5,
		"color4": #4b4d50,
		"color5": #cbcbcb,
		"color6": #c6c6c6,
		"color7": #979ea5,
		"color8": #e8e8e8, 
		"color9": #858a8f,
		"color10": #777c80,
		"color11": #999999,
		"color12": #e1e1e1,
		"color13": #2b2c2e,
		"color14": #dcdcdc, 
		"color15": #1718191c,
		"color16": #b0b3b6,
		"color17": #909397,
		"color18": #c7ccd1,
		"color19": #d5d5d5,
		"color20": #969a9d,
		"color21": #616467,
		"color22": #9ea3a8,
		"color23": #212324,
		"red-overlay": rgb(218, 44, 70),
		"red": #de4259,
		"red-2": #f9afba,
	),
	theme: (
		"1": #da2c46,
		"2": #fb5050,
	),
	bg: (
		"gray": #f3f4f6,
		"gray-2": #f2f2f2,
		"gray-3": #f9f9f9,
		"white": #fff,
		"white2": #f6f6f6,
		"white3": #f3f3f3,
		"black": #171819,
		"black-2": #101011,
		"black-3": #202022,
		
	),
);
